footer{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DEDEDC;
}

.footerMobile{
    display: flex;
}
.footerMail{
    display: flex;
}

.footerLogo img{
    width: 100px;
}
.footerMobile img {
    width: 40px;
    margin-right: 20px;
}
.footerMail img {
    width: 40px;
    margin-right: 20px;
}
.footerSocialNav img{
    cursor: pointer;
    width: 40px;
    margin: 0 10px 0;
}


@media screen and (max-width: 576px) {
    
    .footerLogo img{
        width: 50px;
    }
    .footerMobile img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
    .footerMail img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
    .footerSocialNav img{
        cursor: pointer;
        width: 20px;
        margin: 0 10px 0;
    }
    p{
        font-size: 10px;
    }

}  