.gallery_section {
  width: 100%;
  margin: 20px;
  overflow: hidden;
}
h2{
  margin: 100px 0 20px;
}
.gallery_container {
  display: flex;
  justify-content: space-evenly;
  max-height: 600px;
}

.container_wrapper {
  display: flex;
  
}

.selected_photo {
  width: 50%;
  margin-right: 20px; /* Змінив фіксоване значення на 20px */
  min-height: 600px;
  display: flex;
  align-items: center;
}

.selected_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photos_container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Додали простір між фотографіями */
  max-width: 500px;
}

.photos_container img {
  max-width: calc(33.33% - 10px); /* Обмежуємо ширину фотографії до максимальної третини контейнера */
  height: 100px; /* Автоматична висота для збереження пропорцій */
  margin: 0 5px 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .photos_container img {
    width: calc(33.33% - 10px); /* Для мобільних пристроїв використовуємо 33.33% ширину */
  }
}

@media (max-width: 480px) {
  .photos_container img {
    width: calc(50% - 10px); /* Для ще менших пристроїв використовуємо 50% ширину */
  }
}
