.loginBox{
  display: flex;
  justify-content: flex-end;
}
.signInButton, .signOutButton {
  margin-right: 25px;
  padding: 10px 15px;
  font-size: 12px;
  background-color: black;
  border-radius: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.signInButton:hover, .signOutButton:hover {
  /* background: #DEDEDC; */
  color: black;
  background: linear-gradient(90deg, rgba(222,222,220,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,220,1) 100%);
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.244);

}

.signInButton:active, .signOutButton:active {
  transform: translate(0em, 0.2em);
}

.userPhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.hello{
  display: flex;
  align-items: center;
  margin-right: 10px;
}